ul li {
  list-style-type: none;
}


button {
  outline: none !important;
  border: none;
}

a {
  text-decoration: none !important;
}

body {
  background: #edf4ff;
}


/* REG AND LOG STUFF */

.back-img {
  width: 100vw;
  height: 100vh;
}

.reg-form span {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;  
  color: #0066FF;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 0px;
}

.reg-form {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  max-width: 832px;
  height: 500px;
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.form-group input {
  height: 60px;
  width: 710px;
  margin-right: auto;
  margin-left: auto;
  background: #e5f0ff;
  padding-left: 30px;
  font-size: 20px;
}

.form-group input::placeholder {
  color: #75acff;
}

.container h1 {
  display: inline-block;
}

.form-group label {
  margin-top: 10px;
  color: #0066FF !important;
  margin-left: 45px;
  margin-top: 18px;
  margin-bottom: 5px;
  font-size: 25px;
}

.btn-reg {
  width: 180px;
  height: 55px;
  border-radius: 5px;
  background: #0066FF;
  color: #00D1FF;
  border: 2px solid #0066FF;
  margin-top: 30px;
  font-size: 25px;
}

.btn-reg:first-child {
  margin-right: 100px !important;
}

.btn-reg:last-child {
  background: white;
}

.btn-reg:hover {
  box-shadow: 0 0 3pt 2pt #00D1FF;
}

/* TOAST */

.reg-toast {
  background: black;
  color: white;
  position: absolute;
  padding: 10px;
  top: 300px ; 
  margin-top: 200px;
  right:100px;
}

/* CARDS */

.card {
  margin-top: 20px;
  border-radius: 20px;
}

.who-did {
  margin-top: 30px;
}

/*  PAGES CONTEN LAYOUT  */

.pages-content {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  position: relative;
}

/* MAIN FLEX */

.main-flex {
  display: flex;
  flex-wrap: wrap;
}

/* .card-img-top {
  width:800px;
  height: 500px;
} */
/* @import "~materialize-css/dist/css/materialize.min.css"; */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');