.sensors-table {
    margin-top: 30px;
}

.sensors-table table {
    width: 500px;
    text-align: center;
}

.sensors-table table thead {
    color: #00D1FF;
    background: rgba(0, 102, 255, 0.07);
}

.sensors-table table tbody tr td {
    background: white;
    padding: 10px;
    color: #0066FF;
    font-size: 20px;
}

.sensors-table tbody tr:nth-child(even) td{
    background: rgba(0, 102, 255, 0.07) !important;
}

.sensors-mutual {
    margin-top: -250px;
}

