@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');

$mainFont: 'Montserrat', sans-serif;
$primaryColor: #0066FF;

.menu-base {
  height: 100vh;
  background: white;
  display: inline-block;
  vertical-align: top;
  
  ul {
    padding: 0px;
    margin-top: 66px;
  }

  a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 18px 120px 18px 60px;
    color: $primaryColor;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    font-size: 20px;

    &:hover,
    &:focus {
      background: $primaryColor;
      color: white;
      border-right: 5px solid $primaryColor;
      left: 5px;
      margin-left: -5px;
    }
  }
}

