select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #4A90E2;
    background-image: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 400px !important;
    height: 3em !important;
    line-height: 2;
    background: #4A90E2;
    overflow: hidden;
    border-radius: .25em;
    top: 0;
    right: 0;
  }

  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 6px;
    right: 0;
    padding: 0 1em;
    background: #4A90E2;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  
 .select:hover::after {
    color: #4A90E2;
  }


.settings label {
  display: block;
  color: #00D1FF;
  font-style: normal;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.block-id {
  width: 400px;
}

.settings {
  margin-top: -220px;
}

.settings input {
  width: 400px;
  height: 45px;
  border-color: #00D1FF;
}

.settings option {
  background: white;
  color: #0066FF;
}