.green-item {
    /* position: absolute; */
    /* top: 300px;
    right: 880px; */
}

#first {
    position: absolute;
    top: 300px;
    right: 880px;
}

#second {
    position: absolute;
    top: 300px;
    right: 630px;
}

.pop-up {
    position: absolute;
    top:200px;
    right: 780px;
}

.green-item button {
    /* background: green; */
}