.user-account {
    margin: 200px 0 0 700px;
    border: 2px solid #4A90E2;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

.user-account p {
    margin-bottom: 40px;
    font-size: 30px;
}