$main-font: 'Open Sans', sans-serif; 
$main-color: #0066FF;
$secondary-color: #00D1FF;

.user-account {
    margin-top: -250px;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    height: 300px;
    background: white;
    padding: 0px 5px;

    span {
        display: block;
    }

}

.user-data {
    font-family: $main-font;
    color: $main-color;
    font-size: 25px;
    margin: 10px;
}

.user-label {
    color: $secondary-color;
    font-size: 20px;
    margin: 10px;
}
